<ion-content class="background-image">
    <ion-card>

        <ion-card-header>
            <img width="380" height="280" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSSyTwJB5RXMwdbL1rRSPh2gBkyLAXlWFnzQ&usqp=CAU" alt="" />
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title></ion-card-title>
        </ion-card-header>

    </ion-card>
    <div class="btn">

        <ion-button color="success" shape="round" (click)="gologin()">
            <strong><p >Iniciar sesion</p></strong>
        </ion-button>
        <ion-button color="primary" shape="round" [routerLink]="['../productlist']">
            <strong><p >List Products</p></strong>
        </ion-button>

    </div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button color="light">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>